@import "helpers/selector-types";

//***************************************************************************************************\
//                                                                    | Helper Functions
//***************************************************************************************************/

// this function will take a selector and append a simple selector to it
// in such a way that element selectors remain at the beginning and
// pseudo selectors remain at the end.
@function smart-append-selector($sel, $class) {
	$elems: simple-selectors($sel);
	$first: nth($elems, 1);

	// if $class is a pseudo selector, tack it on the end
	@if is-pseudo-selector($class) {
		@return #{$sel}#{$class};
	// if an element selector is first, we have to tack on the class after that
	} @else if is-elem-selector($first) {
		$collector: #{$first}#{$class};

		@if length($elems) > 1 {
			@for $i from 2 through length($elems) {
				$collector: #{$collector}#{nth($elems, $i)};
			}
		}

		@return $collector;
	// otherwise the class can go first
	} @else {
		@return #{$class}#{$sel};
	}
}

//***************************************************************************************************\
//                                                                    | Helper Mixin
//***************************************************************************************************/

@mixin nth-append-selector($n, $sel) {
	@at-root #{selector-nth(&, $n, 'smart-append-selector', $sel)} {
		@content;
	}
}
